﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Koodihaaste";
}

    <div class="text-center">
        <h3 class="display-4">Koodihaaste</h3>
        <h4>Bullshit or not</h4>
        @foreach (var bs in @Model.BullshitsList.OrderBy(b => b.IsBullshit))
            {
                @if (bs.IsBullshit)
                {
                    <p style="background-color: coral;">
                        @bs.Message
                    </p>
                }
                else
                {
                    <p style="background-color: greenyellow;">
                        @bs.Message
                    </p>
                }

            }
    </div>
